.hubspot-menu {
  position: fixed;
  right: 3rem;
  top: 7rem;
  bottom: 0;
  z-index: 9999;
  width: 90px;
  height: 90px;
  cursor: pointer;
}
.hubspot-menu .hubspot-content {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 24px 0 rgba(17, 18, 16, 0.24);
  width: 456px;
  height: 680px;
  position: absolute;
  right: 92px;
  bottom: 0;
  top: 10px;
  overflow: auto;
  transform: translateY(-200%);
  display: none;
}

.hubspot-menu .show {
  transform: translateY(0);
  display: flex !important;
  flex-direction: column;
}

@media screen and (max-width: 1470px) {
  .hubspot-menu .hubspot-content {
    height: 560px;
  }
}

@media screen and (max-width: 1200px) {
  .hubspot-menu .hubspot-content {
    height: 460px;
  }
}
